@model IList<Henagone_WebGame.Models.ShopViewModels.Deals_statistics>
@{
    ViewData["Title"] = "Magasin - Statistiques";
}

<div class="col-md-12">
    <div class="panel panel-default panel-border-color panel-border-color-primary">
        <div class="panel-heading panel-heading-divider">Liste des factures récentes</div>
        <div class="panel-body table-responsive">
            <table class="table table-striped table-borderless">
                <thead>
                    <tr>
                        <th>Idantifiant de l'utilisateur</th>
                        <th>Nom</th>
                        <th>Date</th>
                        <th>Nombre d'artefacts</th>
                        <th>Prix</th>
                        <th>Type de paiement</th>
                    </tr>
                </thead>
                <tbody class="no-border-x">
                    @foreach (var deal in Model)
                    {
                        <tr>
                            <td>@deal.UserId</td>
                            <td>@deal.Name</td>
                            <td>@deal.Date</td>
                            <td>@deal.Nb_Artifacts</td>
                            <td>@deal.Price</td>
                            <td>@deal.PaymentType</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>