@using Henagone_WebGame.Models.GameViewModels
@using System.Security.Claims
@using static Henagone_WebGame.Controllers.GameController
@{
    int death = 0;
    var bestiaryList = new List<HuntViewModel>();
    using (var context = new SiteDbContext())
    {
        death = context.Characters
            .Where(r => r.UserId == User.FindFirstValue(ClaimTypes.NameIdentifier))
            .Select(r => r.Death).First();

        var monstersTypeList = context.MonstersType
            .Select(r => r).ToList();

        foreach (var item in monstersTypeList)
        {
            var monstersList = context.Monsters
                .Where(r => r.Type == item.Id)
                .Select(r => r).ToList();

            HuntViewModel tempHunt = new HuntViewModel()
            {
                monsters = item,
                kill = 0
            };

            foreach (var monster in monstersList)
            {
                int totalKill = context.Hunt_statistics
                    .Where(r => r.EntityId == monster.Id && r.UserId == User.FindFirstValue(ClaimTypes.NameIdentifier))
                    .Count();

                tempHunt.kill += totalKill;
            }
            bestiaryList.Add(tempHunt);
        }
    }
}

<span>@Localizer["You died {0} times", death]</span>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>@Localizer["Name"]</th>
            <th class="number">@Localizer["Number of deaths"]</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in bestiaryList)
        {
            <tr>
                <td class="user-avatar"> <img alt="Avatar" src="~/uploads/game/cards/monsterstype/@(item.monsters.Id + "." + Util.LanguageSelection("en", "fr")  + ".svg")">@Util.LanguageSelection(item.monsters.TitleEn, item.monsters.TitleFr)</td>
                <td class="number">@item.kill</td>
            </tr>
        }
    </tbody>
</table>