@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    Layout = null;
    ViewData["Title"] = @Localizer["Internal Error"];
}

<!DOCTYPE html>
<html lang="@Util.LanguageSelection("en", "fr")">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>@ViewData["Title"]</title>

    <link rel="stylesheet" href="~/css/style.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/lib/perfect-scrollbar/css/perfect-scrollbar.min.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/lib/material-design-icons/css/material-design-iconic-font.min.css" asp-append-version="true" />

    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="be-splash-screen">
    <div class="be-wrapper be-error be-error-404">
        <div class="be-content">
            <div class="main-content container-fluid">
                <div class="error-container">
                    <div class="error-number">@Localizer["Internal Error"]</div>
                    <div class="error-description">@Localizer["The page you are looking for might have a problem."]</div>
                    <div class="error-goback-text">@Localizer["Would you like to go home?"]</div>
                    <div class="error-goback-button"><a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-xl btn-primary">@Localizer["Let's go home"]</a></div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js" type="text/javascript"></script>
    <script src="~/js/main.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
      	    App.init();
        });
    </script>
</body>
</html>